/* You can add global styles to this file, and also import other style files */
@import url('http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import '../node_modules/angular-notifier/styles.css';


body {
    background: #edf1f5;
    margin-top: 20px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}

.table-wrapper {
    max-width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

}

.table-title {
    background-color: rgb(29, 90, 131);
    height: 60px;
}

h2 {
    margin-top: 10px;
    margin-left: 24px;
    font-size: 24px;
    color: #ffffff;
}


.col-sm-6 {
    margin-top: 12px;
}

.items {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}

.items>* {
    margin-right: 20px;
}

.items>*:last-child {
    margin-left: 80px;
}

.btn,
a.btn {
    height: 40px;
    align-items: center;
}

.items a {
    display: flex;
    text-align: center;
    align-items: center;
}

.items a span {
    padding-left: 2px;
}

.items button {
    align-items: center;
}

